.footer {
    padding-top: 38px;
    padding-bottom: 47px;
    background-color: $footerBG;

    &__text {
        margin-top: 15px;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: $footerTxtColor;
    }
}

.title--footer {
    text-align: center;
    color: #fff;
}

.socials {
    margin: 26px auto 0 auto;
    width: 192px;
    display: flex;
    justify-content: space-between;
}

.contacts {
    margin: 25px auto 0 auto;
    max-width: 210px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: $footerTxtColor;
}